html {
background: #352c3a;
background: -webkit-linear-gradient(left, #352c3a, #ff3c00);
background: -moz-linear-gradient(left, #352c3a, #ff3c00);
background: -ms-linear-gradient(left, #352c3a, #ff3c00);
background: -o-linear-gradient(left, #352c3a, #ff3c00);
background: linear-gradient(to right, #352c3a, #ff3c00);
}
