/* universal mode */
* {
    box-sizing: border-box;
  }
  body {
      background-image: url("/R.png");
      background-size: cover;
      background-position: 0% 25%;
      background-color: #A8322D;
      background-attachment: fixed;
      cursor: crosshair;
}
