/* ==UserStyle==
@name           ? - Jul 2024
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("example.com") {}
/* made by PoopooumgoodTTV some what XD */
/* made by George Washington a lot */
:root {
    --asscentColor: #8400ff;
    --bg-image: url(https://64.media.tumblr.com/d9712318ca4702c176a64e428e9e5f72/bc435439f4b7cd8a-a6/s500x750/efd4187c6507f46cbed9a52fae67ac081bb42ba0.webp);
    --secondary-5: #f00 --textColor: #000;
    --right-border: 2px solid var(--asscentColor);
    --corners: linear-gradient(to right, var(--asscentColor) 2px, transparent 2px) 0 100%, linear-gradient(to left, var(--asscentColor) 2px, transparent 2px) 100% 100%, linear-gradient(to top, var(--asscentColor) 2px, transparent 2px) 0 100%, linear-gradient(to top, var(--asscentColor) 2px, transparent 2px) 100% 100%, linear-gradient(to right, var(--asscentColor) 2px, transparent 2px) 0 0, linear-gradient(to left, var(--asscentColor) 2px, transparent 2px) 100% 0, linear-gradient(to bottom, var(--asscentColor) 2px, transparent 2px) 0 0, linear-gradient(to bottom, var(--asscentColor) 2px, transparent 2px) 100% 0;
    --right-corners: linear-gradient(to right, var(--asscentColor) 0px, transparent 0px) 0 100%, linear-gradient(to left, var(--asscentColor) 2px, transparent 2px) 100% 100%, linear-gradient(to top, var(--asscentColor) 0px, transparent 0px) 0 100%, linear-gradient(to top, var(--asscentColor) 2px, transparent 2px) 100% 100%, linear-gradient(to right, var(--asscentColor) 0px, transparent 0px) 0 0, linear-gradient(to left, var(--asscentColor) 2px, transparent 2px) 100% 0, linear-gradient(to bottom, var(--asscentColor) 0px, transparent 0px) 0 0, linear-gradient(to bottom, var(--asscentColor) 2px, transparent 2px) 100% 0;
	--logo: url(https://64.media.tumblr.com/93b70ce8149d162d13acf1c9f5c16e48/b330a6e39962611c-b7/s75x75_c1/82866428248542fee5c78c813c6a3aead803b667.webp);
}
::-webkit-scrollbar-thumb {
    background-color: var(--asscentColor);
}
::-webkit-scrollbar:horizontal {
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb:horizontal {
    background: transparent !important;
    border-radius: 10px;
}
@keyframes glow {
    from {
        text-shadow: 0 0 5px #6b34e173, 0 0 5px var(--textColor), 0 0 5px var(--textColor), 0 0 5px var(--textColor), 0 0 6px var(--textColor), 0 0 7px var(--textColor), 0 0 8px var(--textColor);
    }
}
.achive-cont {
    content: url(https://o.remove.bg/downloads/806775b5-f47f-4a23-8f01-105987f528be/image-removebg-preview.png) !important;
    position: fixed;
    right: 45%;
}

.game-interface > .death-cont {
  background: transparent;
  visibility: visible;
  bottom: 0;
  top: unset !important;
  scale: 0.7;
  height: auto !important;
}
.death-cont > .user-card {
  background: var(--background-clr-secondary-4);
  border: 0;
  box-shadow: unset;
}
.death-cont > .user-card > .top > .top-left > .avatar {
  border: 4px solid var(--background-clr-primary) !important;
  background: var(--background-clr-primary) !important;
}
.death-cont > .user-card > .top > .lvl {
  color: var(--text-clr-default);
  background: transparent;
}
.game-interface > .death-cont::before {
  content: "KILLED YOU";
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.user-card > .bottom > .bottom-left > .label-killed {
  display: none;
}
.user-card > .bottom > .bottom-left > .name-gun::before {
  content: "> ";
}
.user-card > .bottom > .bottom-left > .name-gun::after {
  content: " <";
}
.kill-bar-cont > .kill-bar-item {
  background: var(--background-clr-secondary-4);
  border-radius: 0.15rem;
  padding: 0.5rem;
}
.desktop-game-interface > .tab-info {
  background: var(--background-clr-secondary-4);
  width: fit-content;
  border-radius: 0.25rem;
  box-shadow: unset;
  max-width: none;
  backdrop-filter: blur(10px);
}
/*Credits*/
.play:before {
    content: "https://discord.gg/bWJV6CBhT7";
    margin-right: 30px;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
    color: #fff0;
}
::-webkit-scrollbar-thumb {
    background-color: var(--asscentColor);
}
::-webkit-scrollbar:horizontal {
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb:horizontal {
    background: transparent !important;
    border-radius: 10px;
}
/*Fonts*/
* {
    font-family: 'Dancing Script', sans-serif;
}
* {
    text-shadow: none !important;
    -webkit-text-stroke: 0 transparent !important;
}
/* Hide Logo */
.interface .logo {
    display: none;
    visibility: hidden;
}
.promo-link-btn {
    display: none !important;
}
.soc-group[data-v-3c44abf2] {
    display: none;
}
/* Glows Clan Name */
.clan-tag {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}
#app > div.interface.text-2 > div.team-section > div.player > div > div.levels,
#app > div.game-interface > div.esc-interface > div.left-container > div.player-list > div > div.player-right > div,
#0000 > div.time-left > button {
    border-radius: 0px;
    background-color: var(--background) !important;
    background: var(--corners);
    background-size: 10px 10px;
    background-repeat: no-repeat;
}
/* Transparent */
.box,
.input,
.settings,
.quests,
.quest,
.tip,
.amount,
.reward,
.progress-line,
.card-cont,
.container-card,
.progress[data-v-49c6809c],
.background,
.container button .border-top,
.container button .border-bottom,
.messages.messages-cont.small,
.title,
.card-list,
.head,
.changelog-item,
.card,
.live-streams,
.left,
.level,
.cont {
    background: transparent !important;
    border: none !important;
}
.progress[data-v-0f7a25c2] {
    background: transparent !important;
    box-shadow: none !important;
    border-bottom: none !important;
}
.active {
    border-bottom: var(--asscentColor) solid 0.125rem !important;
}
/* Text Color */
.level-value,
.levels,
.clan-tag,
.top-name,
.list-labels,
.active,
.level,
.header,
.lvl-leader,
.label-primary,
.awards-span,
.ammunition,
.champions-league,
.champions-scores,
.all-scores-label,
.stat-name,
.available-rooms,
.light,
.online,
.progress-level-value,
.label,
.amount {
    color: var(--asscentColor) !important;
}
.tab:hover,
.nav:hover {
    color: var(--asscentColor) !important;
}
/* Transparent Containers */
.clans,
.hub-container,
.mobile-fullscreen,
.add-friends,
.tab-bar,
.top-items,
.subject,
.inventory .avatar,
.player-right,
.inventory .bottom,
.button.create-btn.rectangle,
.border-top.border,
.border-bottom.border,
.level-value,
.background,
.time-left,
.rewards {
    background: transparent !important;
}
.head-text,
.reset-time,
.info-awards,
.news,
.list-cont,
.card-profile,
.profile .k-d,
.profile .statistics,
.profile-cont .progress[data-v-d2be3bc6] {
    background: transparent !important;
    box-shadow: none !important;
}
/* Custom Backgorund */
#app > div.interface.text-2 > div.background {
    background-image: var(--bg-image) !important;
    background-size: cover !important;
}
#app > div.interface.text-2 > div.background > div.pattern-bg,
#app > div.interface.text-2 > div.background > div.bg-radial {
    display: none !important
}
.achive {
    display: none !important;
}
.interface .nickname:after {
    content: url(https://64.media.tumblr.com/eecae192a392484778b0f34bf8555f76/ec55f74edba0d8f0-55/s75x75_c1/52b9037bf7ad85305ac6163e24840a01b868d2f3.webp) !important;
    margin-top: -3%;
}


/*End Screen Background*/
#app > .end-modal {
    background: var(--bg-image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Login/Signup*/
.auth-form {
    margin-left: 0 !important;
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
}
.auth-form .btns button {
    transform: none !important;
    padding: 0px;
}
.auth-user .loading {
    background: transparent !important;
    border: none;
    border-bottom: none !important;
    border-radius: 0;
}
.auth-user .loader-container {
    margin-right: 95% !important;
}
.auth-form .btns button:hover {
    background-color: transparent !important;
    box-shadow: none !important;
}
.auth-form button,
.auth-form button .border-top,
.auth-form button .border-bottom {
    background: transparent !important;
    box-shadow: none !important;
}
.auth-form button .triangle {
    display: none;
}
.button[data-v-02c36fca]:after {
    border: none;
}
.moneys[data-v-2484b84e] {
    display: flex;
    flex-direction: row;
    margin-left: -50px;
    margin-top: 80px;
}
/* Right Interface */
.right-interface {
    padding-top: 20px;
}
.soc-group:nth-child(1),
.soc-group:nth-child(2) {
    background: transparent !important;
    border: none;
    visibility: hidden;
}
.soc-group:nth-child(1):hover,
.soc-group:nth-child(2):hover {
    background: none !important;
    transform: scale(1.5);
    visibility: hidden;
}
.right-interface .settings {
    background: rgba(0, 0, 0, 0);
    content: url(https://64.media.tumblr.com/28e4b7936cd1fbd9b13a7c21de8426a3/f877ec60fe67d7e7-10/s100x200/285b915ddf0528bfa7eaec04d4fe7cd628ce9ade.webp);
    border: none;
    margin-left: 0px;
    margin-top: +120px;
    width: 20px !important;
    transition: 0.5s;
    z-index: 2;
}
.right-interface .settings:hover {
    background: none;
    transform: scale(1.5);
}
.right-interface {
    z-index: 999 !important;
}
/* coins */
.money[data-v-e3674cae]::before {
    content: "";
    display: block;
    width: 25px;
    /* Adjust as needed */
    height: 20px;
    /* Adjust as needed */
    background-image: url('https://64.media.tumblr.com/5ff6cfab77a25ed6977a38a92edcbcbb/a342d43b10da1c16-f4/s540x810/c4d15b33120edc90076a90d4518cff2547c9d5b4.webp');
    background-size: contain;
    background-repeat: no-repeat;
}
.coin-icon[data-v-924e79c6] {
    display: none;
}

/* diamonds */
.diamonds[data-v-e3674cae]::before {
    content: "";
    display: block;
    height: 25px;
    /* Adjust as needed */
    background-image: url('https://64.media.tumblr.com/a1a4ad8c44ebf335e86f29543c127998/9cbd0f09b91e57eb-b4/s540x810/c00c643bbd3d6c9b6c3a5abaca77a8ad3194e054.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Left Menu */
.left-icons {
    background: #6b34e173 !important;
}
.left-icons,
.icon-btn {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
}
#left-icons {
    flex-direction: row-reverse;
}
.text-icon {
    display: none !important;
}
.left-icons .icon-btn:hover {
    border-top: transparent !important;
}
#left-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    left: 13% !important;
    top: 7% !important;
    z-index: 0 !important;
    transform-origin: top left;
}
.right-interface {
    z-index: 1 !important;
}
.text-icon,
.left-icons .icon-btn svg {
    display: show !important;
}
/* Left Icon Text Translation*/
.icon-btn.text-1.HUB:after {
    visibility: visible;
    content: "!" !important;
    font-family: gamefont;
    font-size: 35px;
}

.icon-btn.text-1.STORE:after {
    visibility: visible;
    content: "!" !important;
    font-family: gamefont;
    font-size: 35px;
}

.icon-btn.text-1.SERVERS:after {
    visibility: visible;
    content: "C" !important;
    font-family: gamefont;
    font-size: 35px;
}

.icon-btn.text-1.QUESTS:after {
    visibility: visible;
    content: "R" !important;
    font-family: gamefont;
    font-size: 35px;
}

.icon-btn.text-1.FRIENDS:after {
    visibility: visible;
    content: "Y" !important;
    font-family: gamefont;
    font-size: 35px;
}

.icon-btn.text-1.INVENTORY:after {
    visibility: visible;
    content: "!" !important;
    font-family: gamefont;
    font-size: 35px;
}

.icon-btn.text-1.MAP:after {
    visibility: visible;
    content: "!" !important;
    font-family: gamefont;
    font-size: 35px;
}

/* Top Icons 
.left-icons {
    display: flex !important;
    flex-direction: row !important;
    position: absolute !important;
    height: 0% !important;
    margin: 18%;
    margin-top: 7% !important;
    border: none !important;
} */
/* Removed Profile Card */
.avatar-info,
.progress-label {
    display: none !important;
}
.user-info {
    padding-left: 3vw !important;
}
.progress {
    background: var(--asscentColor) !important;
    display: block !important;
}
.progress {
    box-shadow: 0px 0px 20px 6px var(--asscentColor);
}
.left-interface[data-v-6ef47e92] {
    position: absolute;
    left: 42%;
    top: 3%;
    z-index: 9;
    transform-origin: top left;
}
/* Crosshair */
.crosshair-static {
    display: flex !important;
    visibility: visible !important;
}
/* Profile */
div.card-cont.avatar-info,
div.card-cont.user-info,
.money {
    background: #6b34e100 !important;
    border-bottom: #6b34e100 !important;
    border: none !important;
}
.settings[data-v-e0ea0f78] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.achive-cont[data-v-7a3c1e94] {
    content: url(kds) !important;
    position: absolute !important;
    right: 50% !important;
    width: 12em;
    height: 10em;
}
.card-cont[data-v-1cbd79ff] {
    background: #6b34e173 !important;
    border-bottom: #6b34e173 !important;
    border: none !important;
}
.card-cont[data-v-1cbd79ff]:hover {
    background: #6b34e173 !important;
}
/* Inv & Friends */
#right-icons [data-v-ae524044] {
    height: 3.2rem;
}
#right-icons > div.icon-btn.text-1 {
    width: 139px;
    font-size: 18px;
    height: 65px;
}
#right-icons [data-v-1cbd79ff] {
    width: 139px;
    font-size: 18px;
    height: 65px;
}
#right-icons [data-v-b8de1e14] {
    display: none;
}
.right-icons .gun-img {
    display: show;
}
.right-icons .icon-btn {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
/* Server & Play */
.select-mod,
.select-region {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}
.select-regions-cont[data-v-6ef47e92] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}
.container button {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-radius: 0 !important;
}
.container button {
    background: transparent !important;
    border-radius: 0 !important;
    transform: none !important;
}
.container button .border-top,
.container button .border-bottom {
    display: none;
}
/* Join URL Button (For client only) */
.join-using-link {
    background: #6b34e173 !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}
.join-using-link:active {
    background: rgba(0, 0, 0, 0) !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}
#clientJoinButton {
    background: rgba(0, 0, 0, 0) !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}
#clientJoinButton:active {
    background: rgba(6, 0, 0, 0) !important;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
}
#play-btn {
    background: #6b34e173 !important;
    box-shadow: 4px 4px 10px #0000 !important;
}
#play-btn .border-top,
#play-btn .border-bottom {
    background: none;
}
.button[data-v-02c36fca] {
    -webkit-text-stroke: 0px !important;
}
.button[data-v-02c36fca]:after {
    border: none;
    background: transparent !important;
}
.triangle[data-v-02c36fca] {
    display: none !important;
    background: transparent;
}
.progress[data-v-cd9878b6] {
    background: linear-gradient(306deg, #727272, #727272)!important;
}
/*	Ad Removal */
.ad-bottom,
.ad-left {
    display: none !important;
    visibility: hidden !important;
}
.className {
    display: none !important;
}
/* Mode Selection */
.select-mods-cont,
.select-mods-cont > hr {
    background: transparent!important;
    border: none !important;
    border: 1px solid var(--asscentColor);
    margin-right: 500px;
}
.custom-checkbox > input:checked + span[data-v-47e1b746]:before {
    background-color: var(--asscentColor);
    border-color: var(--asscentColor);
}
.soc-group[data-v-f6928a74],
.text-soc[data-v-26102dd2] {
    display: none !important;
}
/* Checkbox and Private */
.private-btn > span[data-v-47e1b746] {
    content: url(https://media.discordapp.net/attachments/523517791886770188/953239076457316382/openlock.png);
    position: fixed;
    left: 90px;
    width: 40px;
}
.custom-checkbox > span[data-v-47e1b746]:before {
    border-radius: 50px;
    background-color: #727272;
    border: none;
}
.custom-checkbox > input:checked + span[data-v-47e1b746]:before {
    background-color: var(--asscentColor);
}
.input .items[data-v-4f6bb432] {
    background: transparent !important;
    backdrop-filter: blur(15px);
}
/* KIll */
.kill-bar-cont {
    position: absolute;
    bottom: 2rem;
}
/* chat */
.desktop-game-interface #WMNn {
    transform: scale(0);
    transition-duration: 0.25s !important;
}
.desktop-game-interface #WMNn:focus {
    transform: scale(1);
}
.clans,
.hub-container,
.mobile-fullscreen,
.add-friends,
.tab-bar,
.top-items,
.subject,
.inventory .avatar,
.inventory .bottom {
    background: transparent !important;
}
.head-text,
.reset-time,
.info-awards,
.news,
.list-cont,
.card-profile,
.profile .k-d,
.profile .statistics,
.profile-cont .progress[data-v-d2be3bc6] {
    background: transparent !important;
    box-shadow: none !important;
    border-bottom: none;
}
.tabs {
    background: transparent !important;
    border-bottom: none !important;
    box-shadow: none !important;
    border-right: none !important;
}
.active-tab,
.tab {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.tab:hover {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.limit {
    border-left: none !important;
}
.top-bar,
.home,
.name-page {
    display: none !important;
}
.container {
    background: transparent !important;
    backdrop-filter: blur(15px);
    box-shadow: none !important;
}
.champions-list {
    box-shadow: none !important;
}
.subjects,
.gun {
    background: transparent !important;
    border: none !important;
}
.profile .you {
    visibility: hidden;
}
.top[data-v-319b95e8] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.item[data-v-319b95e8] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.champions-list[data-v-3ade8f70] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.items .item[data-v-3ade8f70] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.card-head[data-v-5b2dc87c] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.list-container[data-v-3bcb580a] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.card-cont[data-v-040b7087] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.description[data-v-040b7087] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.all-scores[data-v-040b7087] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.champions-stat[data-v-040b7087] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.item-content[data-v-3bcb580a] {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.server[data-v-679cb6a8] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.player[data-v-68ad001e] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.right-container[data-v-68ad001e] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.messages[data-v-76a3fe0a] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.input[data-v-29d4a917] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.timer[data-v-1d4749de] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.bg[data-v-1d4749de] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.head[data-v-a204db68] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.list[data-v-a204db68] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.name[data-v-2bbf437a] {
    padding-top: 20px;
}
.time-left[data-v-556f2c42] {
    background: transparent !important;
    border: none !important;
}
.rewards[data-v-556f2c42] {
    background: transparent !important;
    border: none !important;
}
.level-cont[data-v-197190ba] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.level-label[data-v-197190ba] {
    color: #7e7e7e;
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.card[data-v-49c6809c] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.friend[data-v-197190ba] {
    background: transparent !important;
}
.add[data-v-197190ba],
.delete[data-v-197190ba] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.server[data-v-fed2b50a] {
    background: linear-gradient(306deg, #7e7e7e, #7e7e7e)!important;
}
.info-key-cont,
.list-weapons,
.mWwn,
.instruction {
    display: none !important;
}
.hp {
    margin-right: 20%;
    border: #6b34e1 !important;
}
.hp-progress {
    background-color: #5100ff !important;
}
.state {
    position: fixed;
    width: 300px;
    top: 93%;
    left: 37% !important;
}
/* HUD */
.mini-map-cont .name,
.desktop-game-interface .info-key-cont,
.list-weapons,
.hp-title,
.mWwn,
.instruction {
    display: none !important;
}
.end-modal .clan-tag {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}
/* Leaderboard */
.leaders .clan-tag {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}
/* In Game Leaderboard */
.tab-info {
    background: #6b34e130 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: none !important;
    backdrop-filter: blur(5px);
}
.tab-info .head {
    display: none;
}
.tab-info .player {
    background: transparent !important;
}
.tab-info .primary {
    color: #727272 !important;
}
.tab-info .nickname,
.tab-info .player-right {
    color: var(--asscentColor) !important;
}
.tab-info .list {
    color: #7e7e7e;
    margin: 0 !important;
}
.tab-info .list .list-value:nth-child(1),
.tab-info .list .list-value:nth-child(2),
.tab-info .list .list-value:nth-child(3) {
    visibility: hidden;
}
.tab-info .list .list-value:nth-child(1):after {
    visibility: visible;
    content: "K";
    margin-left: -29px;
}
.tab-info .list .list-value:nth-child(2):after {
    visibility: visible;
    content: "D";
    margin-left: -28px;
}
.tab-info .list .list-value:nth-child(3):after {
    visibility: visible;
    content: "S";
    margin-left: -5px;
}
.tab-info .player-right svg {
    display: none;
}
.cont-hp {
    background: transparent !important;
}
.hp {
    margin-right: 20%;
}
.desktop-game-interface .state {
    position: fixed;
    width: 500px !important;
    top: 93%;
    left: 37% !important;
}
.cont-endurance {
    margin-left: 1.5%;
    background: transparent !important;
    border: var(--asscentColor) !important;
}
.endurance-progress {
    background: linear-gradient(to right, var(--asscentColor), var(--asscentColor)) !important;
}
.ammunition {
    background: transparent !important;
    display: inline-block;
    position: fixed;
    left: calc(52% + 188px);
    top: calc(91%)
}
.bg[data-v-14e97ff8] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.player[data-v-3a61646a] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.timer[data-v-14e97ff8] {
    background: transparent !important;
    border-bottom: transparent !important;
    border: none !important;
}
.interface .nickname:after {
    display: show;
}
.top-items[data-v-319b95e8] {
    box-shadow: none !important;
    border-bottom: none !important;
    border: none !important;
}
.kill-bar-item[data-v-e06e1414] {
    background: linear-gradient(306deg, #7e7e7e00, #7e7e7e00)!important;
}
/* Esc Interface*/
.esc-interface {
    backdrop-filter: blur(5px);
}
.esc-interface .head-right button,
.esc-interface .head-right button .border-top,
.esc-interface .head-right button .border-bottom {
    background: transparent !important;
    box-shadow: none;
    border-radius: 0;
}
.esc-interface .head-right button:hover {
    background: transparent !important;
    border-bottom: 5px solid white;
}
.esc-interface .left-container .player {
    background: transparent !important;
}
.esc-interface .right-container {
    background: transparent !important;
}
.esc-interface .player .label {
    color: var(--asscentColor);
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}
.esc-interface .primary {
    color: #7e7e7e !important;
}
.esc-interface .level {
    color: #7e7e7e;
}
.continue {
    background: #727272(68, 68, 68) !important;
    box-shadow: none !important;
}
.continue:hover {
    background: var(--asscentColor) !important;
    box-shadow: none !important;
}
.continue .border-top,
.continue .border-bottom {
    background: transparent !important;
    box-shadow: none !important;
}
#dailyQuests {
    position: fixed;
    top: 30px;
    border: none;
    border-radius: 0;
    z-index: 0 !important;
    overflow: auto;
}
/* TTVS */
/*  Player Position  */
#team-section > div.player {
    margin-right: 73rem;
    margin-top: 32rem;
}
/* money emoji here*/
.moneys {
    position: absolute;
    left: -40%;
    top: 100px;
}
#left-interface {
    position: absolute;
    left: -1.9%;
    top: -30px;
}
.tabs {
    background: transparent !important;
    border-bottom: none !important;
    box-shadow: none !important;
    border-right: none !important;
}
.active-tab,
.tab {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}
.limit {
    border-left: none !important;
}
.top-bar,
.home,
.name-page {
    display: none !important;
}
.container {
    background: transparent !important;
    backdrop-filter: blur(5px);
    box-shadow: none !important;
}
.champions-list {
    box-shadow: none !important;
}
.profile .you {
    visibility: hidden;
}
.button.create-btn.rectangle {
    background: transparent !important;
    box-shadow: none !important;
}
.card.progress {
    background: transparent !important;
    box-shadow: none !important;
}
.items {
    background: transparent !important;
    box-shadow: none !important;
}
.settings {
    background: rgba(255, 255, 255, 0) !important;
    backdrop-filter: blur(0px);
}
.timer[data-v-07689ebb] {
    border-radius: 20px !important;
    color: #5100ff !important;
    background-color: #727272 !important;
}
.state-cont {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
.server {
    background: transparent !important;
    box-shadow: none !important;
}
.kill-death .kill {
    background-color: #f000 !important;
    color: #5100ff !important;
    border-radius: 20px !important;
}
.kill-death .death {
    background-color: #fff0 !important;
    color: #f000 !important;
    border-radius: 20px !important;
}
.label.red {
    border-radius: 20px !important;
    color: #f00 !important;
    background-color: #34343400 !important;
}
.label-team.red {
    background: #000 !important;
}
.label.blue {
    border-radius: 20px !important;
    color: #30f !important;
    background-color: #34343400 !important;
}
.label-team.blue {
    background: #343434 !important;
}
.hp-progress {
    color: #f00 !important;
}
.cont-endurance {
    margin-left: 1.5%;
    background: transparent !important;
    border: var(--asscentColor) !important;
}
[data-v-2bdf2bcd] {
    background: transparent !important;
    box-shadow: none !important;
}
.container-card {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
.achive-cont {
    display: none;
    visibility: hidden;
}
.hit {
    content: url(https://64.media.tumblr.com/c1bb731d0db6ca52dd42377709e26ee2/97673c284794d851-c2/s250x400/7a9a62b6b9737261a641eb43a87e135be03b3172.webp);
}
[data-v-3894613f] {
    border: none !important;
    background: transparent !important;
    box-shadow: none !important;
}
.levels {
    border-radius: 30px !important;
    background-color: #34343400 !important;
}
.lvl-leader {
    border-radius: 20px !important;
    background-color: #343434 !important;
}

.loading-scene>.background-cont {
	filter: grayscale(1) blur(5px);
	z-index: 0;
	transform: scale(1.1);
}

.loading-scene>.content {
	display: none;
}

.loading-scene>.progress {
	background: var(--background-clr-secondary-6);
}

.loading-scene>.loading {
	display: none;
}

.loading-scene>.logo {
	position: fixed !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	bottom: 5%;
	left: 15%;

}

.loading-scene>.logo:before {
	content: "";
	position: absolute;
	background: var(--branding) 100% / 100%;
	width: 100px;
	height: 100px;
	left: -125px;
}

.loading-scene>.logo>img {
	display: none;
}

.loading-scene>.logo>.name-map {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 0.5rem;
	font-size: 3.5rem;
}

.loading-scene>.logo>.name-map:before {
	content: "OPERATION";
	font-size: 1rem;
	color: hsl(var(--logo)));
}

.loading-scene>.logo>.mode {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: var(--logo);
}

.loading-scene>.logo>.mode:before {
	content: "OBJECTIVE";
	font-size: 1rem;
	color: var(--logo);
}

.loading-scene>.progress:last-child {
	display: none !important;
}

.game-interface>.death-cont {
	bottom: 0;
	top: unset !important;
	height: auto !important;
}

.death-cont>.user-card {
	background: var(--background-clr-secondary-4);
	border: 0;
	box-shadow: unset;
}

.death-cont>.user-card>.top>.top-left>.avatar {
	border: 4px solid hsl(var(--clr-neutral-900)) !important;
}

.death-cont>.user-card>.top>.lvl {
	color: var(--text-clr-default);
	background: transparent;
}

.game-interface>.death-cont::before {
	content: "KILLED BY";
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.user-card>.bottom>.bottom-left>.label-killed {
	display: none;
}

.user-card>.bottom>.bottom-left>.name-gun::before {
	content: "[ ";
}

.user-card>.bottom>.bottom-left>.name-gun::after {
	content: " ]";
}

.kill-bar-cont>.kill-bar-item {
	background: var(--background-clr-secondary-4);
	border-radius: 0.15rem;
	padding: 0.5rem;
}

.ach-cont {
	top: 0 !important;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ach-cont>.animate-cont {
	transform: none !important;
	width: auto;
	height: auto;
}

.animate-cont>svg {
	display: none;
}

.animate-cont>.text {
	font-size: 1rem !important;
	font-weight: 700 !important;
	margin: unset !important;
	margin-left: 15rem !important;
}

.animate-cont>.text>span>span {
	color: white !important;
}

#app>.end-modal {
	background: var(--img-wallpaper-filtered) 100% / 100%;
	background-size: cover;
}

#app>.end-modal:before {
	background: var(--clr-gradient-100);
	content: "";
	inset: 0;
	opacity: 0.7;
	position: absolute;
	z-index: -1;
}

.end-modal>.bottom {
	visibility: hidden;
}

/* Searching Game */
.searching-game {
	position: absolute !important;
	margin: 0 !important;
	top: unset !important;
	width: 100% !important;
	display: flex;
	justify-content: center;
	grid-area: 2 / 2 / 3 / 3;
}

.searching-game>.top,
.searching-game>.bottom {
	display: none;
}

.searching-game>.center {
	background: hsl(var(--clr-neutral-900), .4) !important;
	color: hsl(var(--clr-neutral-100));
	height: unset !important;
	font-size: 0.8rem !important;
	padding: 0.5rem !important;
	width: max-content !important;
	border-radius: 0.25rem !important;
	backdrop-filter: blur(0.5rem);
}

.searching-game>.center>.time {
	color: hsl(var(--clr-primary-100));
	font-size: 0.8rem !important;
	margin-left: 0.5rem !important;
	margin: 0 !important;
	width: 5rem !important;
}

.searching-game>.center>.time>.sec {
	color: hsl(var(--clr-neutral-100));
	font-size: 0.8rem !important;
}
